html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-back-primary);
  /* font-family: Roboto, sans-serif; */

  font-family: "Inter", sans-serif;
}

.title {
  font-size: 32px;
  margin: 0 0 12px 0;
  color: var(--color-title);
}

main {
  padding: 50px;
}
